body {
  background-color: rgb(235, 235, 235);
}

h1 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 60px;
  text-shadow: 1px 2px 3px rgb(99 99 99);
  text-transform: uppercase;
}
h2 {
  font-size: 21px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Barlow Condensed", sans-serif;
  text-shadow: 1px 2px 3px rgb(99 99 99);
}

h3 {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  text-shadow: 1px 2px 3px rgb(99 99 99);
  margin-bottom: 2px;
}

h4,
h5 {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  text-shadow: 1px 2px 3px rgb(99 99 99);
  text-transform: uppercase;
}

form {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
li {
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 100;
  text-transform: capitalize;
  text-align: center;
  padding-right: 35px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  text-shadow: 1px 2px 3px rgb(99 99 99);
  text-align: center;
}

p {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  text-shadow: 1px 2px 3px rgb(99 99 99);
}

hr {
  color: white;
}

.outside {
  background-size: cover;
  max-width: 100%;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/005/543/original/Weather_App_Rain_V1.png?1614803329);
  display: block;
  margin: 5px auto 0px auto;
  padding: 2% 2%;
  width: 440px;
  border: 2px solid rgb(122, 122, 122);
  border-radius: 15px;
  box-shadow: 0.5px 2px 2px 2px rgb(99 99 99 / 30%);
}

.inside {
  background-image: url(https://media.giphy.com/media/Fcuy51lroTis6USGS2/giphy.gif);

  margin: 0 auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #ffffffe3;
  padding: 40px 50px;
  border-radius: 50%;
  margin: 40px 0px;
  box-shadow: inset 2px 2px 15px black, inset 2px 3px 15px rgba(0, 0, 0, 0.3),
    inset -2px -3px 25px rgba(102, 102, 102, 0.5);
  color: rgb(255, 255, 255);
}
.week {
  text-align: center;
  max-width: 100%;
  color: rgb(255, 255, 255);
  font-family: "Barlow Condensed", sans-serif;
  text-shadow: 1px 2px 3px rgb(99 99 99);
  margin-bottom: 0px;
}
.weekdays-icon {
  width: 35px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

#temperature {
  font-size: 50px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}

.active {
  font-size: 50px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}

.btn {
  font-size: 14px;
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  opacity: 95%;
  color: rgb(95, 95, 95);
}

.links {
  color: black;
  text-decoration: underline;
}

.form-control {
  max-width: 100%;
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  height: 30px;
  padding: 5px;
  font-weight: 400;
  width: 50%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bebebe;
  border-radius: 4px;
  transition: 0.15s ease-in-out;
}
